

body{ 
background-image: url("https://images.pexels.com/photos/9665192/pexels-photo-9665192.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
height: 100%;

background-position: center;
background-size: cover;
color:white ;
 }



.headers{

text-align: center;

}

#text{ padding-left: 39%;
	padding-top: 3%;

}

#text2{ padding-left: 41.5%;
	padding-top: 32%;

}

#text3{padding-left: 25%;
padding-top: 34%;
}


